apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/component: exporter
    app.kubernetes.io/name: kube-state-metrics
  name: kube-state-metrics
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: kube-state-metrics
  template:
    metadata:
      labels:
        app.kubernetes.io/component: exporter
        app.kubernetes.io/name: kube-state-metrics
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8081"
    spec:
      automountServiceAccountToken: true
      containers:
        - name: kube-state-metrics
          args:
            - --custom-resource-state-config-file=/data/custom-resource-state-metrics.yaml
          image: registry.k8s.io/kube-state-metrics/kube-state-metrics:v2.18.0
          livenessProbe:
            httpGet:
              path: /livez
              port: http-metrics
            initialDelaySeconds: 5
            timeoutSeconds: 5
          ports:
            - name: http-metrics
              containerPort: 8080
            - name: telemetry
              containerPort: 8081
          readinessProbe:
            httpGet:
              path: /readyz
              port: telemetry
            initialDelaySeconds: 5
            timeoutSeconds: 5
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 65534
            seccompProfile:
              type: RuntimeDefault
          volumeMounts:
            - mountPath: /data
              name: custom-resource-state-metrics
      volumes:
        - name: custom-resource-state-metrics
          configMap:
            name: kube-state-metrics-custom-resource-state-metrics
      nodeSelector:
        kubernetes.io/os: linux
      serviceAccountName: kube-state-metrics
