apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-server
  namespace: photos
  annotations:
    reloader.stakater.com/auto: "true"
  labels:
    app.kubernetes.io/instance: immich
    app.kubernetes.io/name: server
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: server
      app.kubernetes.io/instance: immich
  template:
    metadata:
      labels:
        app.kubernetes.io/name: server
        app.kubernetes.io/instance: immich
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8081"
    spec:
      containers:
        - name: immich-server
          image: ghcr.io/immich-app/immich-server:v2.4.1
          imagePullPolicy: IfNotPresent
          env:
            - name: TZ
              value: "America/Chicago"
            - name: DB_DATABASE_NAME
              value: "immich"
            - name: DB_HOSTNAME
              value: "immich-postgresql-rw"
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: immich-postgresql-appuser
                  key: password
                  optional: false
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: immich-postgresql-appuser
                  key: username
                  optional: false
            - name: IMMICH_CONFIG_FILE
              value: "/config/immich.json"
            - name: IMMICH_TELEMETRY_INCLUDE
              value: "all"
            - name: IMMICH_IGNORE_MOUNT_CHECK_ERRORS
              value: "true"
            - name: REDIS_HOSTNAME
              value: "immich-dragonfly"
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: immich-redis-password
                  key: password
                  optional: false
          ports:
            - name: http
              containerPort: 2283
              protocol: TCP
            - name: monitoring
              containerPort: 8081
              protocol: TCP
          resources:
            requests:
              memory: "2Gi"
              cpu: "2"
            limits:
              memory: "8Gi"
              cpu: "8"
          volumeMounts:
            - name: config
              mountPath: /config
            - name: library
              mountPath: /data/library
            - name: upload
              mountPath: /data/upload
            - name: encoded-video
              mountPath: /data/encoded-video
            - name: profile
              mountPath: /data/profile
            - name: thumbs
              mountPath: /data/thumbs
          startupProbe:
            httpGet:
              path: /api/server/ping
              port: http
            failureThreshold: 60
            periodSeconds: 5
          livenessProbe:
            failureThreshold: 30
            httpGet:
              path: /api/server/ping
              port: http
            periodSeconds: 60
            timeoutSeconds: 1
      volumes:
        - name: config
          secret:
            secretName: immich-server-config
        - name: library
          persistentVolumeClaim:
            claimName: immich-library
        - name: upload
          persistentVolumeClaim:
            claimName: immich-upload
        - name: encoded-video
          persistentVolumeClaim:
            claimName: immich-encoded-video
        - name: profile
          persistentVolumeClaim:
            claimName: immich-profile
        - name: thumbs
          persistentVolumeClaim:
            claimName: immich-thumbs
